:root{
    --mainll: #CB6E50;
    --mainl: #A8492B;
    --main: #842A0E;
    --maind: #5D1600;
    --maindd: #360D00;
    --bg: #FFDED3;
    --text: #FFFFFF;
    --bodytext: black;
    --heading: rgb(70, 20, 3);
    --subheading: #842A0E;
    --scrolltrack: #5D1600;
    --scrollthumb: #CB6E50;
    --tableshadow: rgba(25, 6, 0, 0.2);
}

.darkmode{
    --mainll: #4C4C59;
    --mainl: #393b42;
    --main: #18181B;
    --maind: #0F0F0F;
    --maindd: #040404;
    --bg: #26272A;
    --text: #FFFFFF;
    --bodytext: #D8D8D8;
    --heading: #D8D8D8;
    --subheading: #D8D8D8;
    --scrolltrack: #040404;
    --scrollthumb: #7F7E7E;
    --tableshadow: rgba(255, 255, 255, 0.15);
}

.hidden-content {
    display: none!important;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-track {
    background: var(--maind); 
}

::-webkit-scrollbar-thumb {
    background: var(--mainl);
    border: 1px solid var(--maind);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mainl); 
}

html {
    font-size: 100%;
    overflow: hidden;
  }

body{
    background: var(--bg);
    color: var(--text);
    font-size: 1em;
}

h1{
    position: relative;
    text-align: center;
    font-size: 1.4em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    margin-bottom: 2px;
    color: var(--main);
    background-color: var(--main);
    /*
    overflow: hidden;
    white-space: nowrap;
    */
}

h1:hover{
    background-color: var(--maind);
    cursor: pointer;
}

h1 span{
    padding-right: 0.25em;
    padding-left: 0.25em;
    color: var(--text);
    /*background-color: var(--bg);*/
}

h1:after {
    content: none;
}

h2{
    margin-top: 0.25em;
    font-size: 2.5em;
    color: var(--subheading);
    text-align: center;
}

h3{
    font-size: 2em;
    color: var(--subheading);
}

h3:not(.nav1){
    margin-top: 0.25em;
}


.contentBlock > p{
    margin: 0.25em 0 0.25em 0;
}

.contentBlock > p > em{
    color: var(--subheading);
    font-weight: 600;
    text-decoration: underline;
}

ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li::before {
    position: absolute;
    content: "\002022";
    left: -0.75em;
    color: var(--subheading);
  }

#headerContainer{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--main);
    max-height: 3em;
    height: 3em;
    padding: 0em 1.5em 0.1em 0.5em;
}

#burgerContainer{
    padding: 0.75em;
    cursor: pointer;
}

#burgerContainer:hover{
    background-color: var(--maind);
}

.bun{
    width: 1.5em;
    height: 4px;
    background-color: var(--text);
    margin: 4px 0;
}

#title{
    display: none;
}

#shortTitle{
    display: none;
    padding-right: 0.1em;
}

#title, #shortTitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    font-style: italic;
    margin-left: 0.3em;
    white-space: nowrap;
    overflow: hidden;
}

#headerSpacer{
    flex-grow: 1;
}

.headerButton{
    padding: 1em;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#portalButton:hover, #darkmodeButton:hover{
    background-color: var(--maind);
}

#portalButtonText{
    color: var(--text);
}

#portalButton{
    width: 4em;
}

#darkmodeButton{
    width: 4em;
}

#pageContainer{
    margin-top: 2.5em;
    height: calc(100vh - 2em);
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

#leftGutter{
    width: 3%;
}

#rightGutter{
    width: 1%;
}

#navigationWrapper{
    display: none;
    position: fixed;
    top: 3em;
    width: 100%;
    background-color: var(--maind);
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 900;
}

#accordion{
    max-height: calc(100vh - 3em);
    overflow-y: auto;
}

.anchor{
    display: block;
    visibility: hidden;
    position: relative;
    top: -2.75em;
}

/*#navigationWrapper{
    position: -webkit-sticky;
    float: left;
    position: sticky;
    width: 7em;
    top: 3.5em;
    left: 0.5em;
    background-color: var(--maind);
    cursor: pointer;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

.nav1{
    padding: 0.3em 0 0.3em 0.5em;
    background: var(--main);
    border-bottom: 1px solid var(--maindd);
    color: white;
    font-size: 1em;
    font-weight: 450;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav1:hover{
    background: var(--maind);
}

.nav2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav3{
    color: var(--text);
    width: 90%;
    background-color: var(--mainl);
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--maind);
    display: flex;
}

.nav3:hover{
    background-color: var(--mainll);
}


.nav3 > a{
    color: var(--text);
    text-decoration: none;
    flex-grow: 1;
    height: 100%;
    padding: 0.3em 0 0.3em 0.5em;
}

#contentContainer{
    color: var(--bodytext);
    width: 50%;
    flex-grow: 2;
    margin-top: 1em;
    max-width: 60em;
}

.contentBlockWrapper{
    display: flex;
}

.contentBlock{
    float: left;
    clear: left;
    margin-bottom: 1em;
    min-width: 100%;
}

#accordionControlButtonContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.accordionButton{
    width: 50%;
    background-color: var(--main);
    margin-bottom: 0.25em;
    text-align: center;
    font-size: 1.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    color: var(--text);
    background-color: var(--main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.accordionButton:hover{
    background-color: var(--maind);
}

#collapseall{
    margin-right: 0.16em;
}

#expandall{
    margin-left: 0.16em;
}

strong{
    color: var(--subheading);
}

.equation{
    font-family: 'Courier New', Courier, monospace;
}

td{
    padding: 0 1em 0 1em;
}

tr:nth-child(odd){background-color: var(--tableshadow);}

.hyperlink{
    color: var(--subheading);
    font-weight: 550;
    text-decoration: underline;
}

.hyperlink:hover{
    text-shadow: 0px 0px 1px var(--subheading);
}

.blockImage{
    margin: 0.5em 0 0.5em 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.className{
    font-size: 2.5em;
}

.classTable{
    border-collapse: collapse;
    width: 100%;
    max-width: 30em;
}

.classTable td, .classTable th{
    padding: 0.2em;
    text-align: center;
}

.classTable td:nth-child(4){
    text-align: left;
}

.classTable tr:nth-child(1){
    font-weight: bolder;
    border-bottom: 2px solid var(--main);
}

.classTable tr:nth-child(odd){
    background-color: var(--tableshadow);
}

#cookieCotnainer{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--main);
    bottom: 0;
    width: 100%;
}

#cookieText{
    font-size: 20pt;
    margin-right: 1%;
}

#cookieButton{
    letter-spacing: 0.5em;
    padding-left: 1%;
    font-size: 50pt;
    text-align: center;
    border: 5px solid yellow;
    background-color: yellow;
    color: black;
    font-weight: bolder;
    border-radius: 180px;
}

.minHideTableCell{
    display: none;
}

.midHideTableCell{
    display: none;
}

@media only screen and (min-width: 470px){
    #shortTitle{
        display: inherit;
    }
    h1:after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 2px solid var(--heading);
        z-index: -1;
    }
    #rightGutter{
        width: 3%;
    }
    .minHideTableCell{
        display: table-cell;
    }
}

@media only screen and (min-width: 650px) {
    .accordionButton{
        max-width: 200px;
    }
    #navigationWrapper{
        width: 14em;
    }
    .blockImage{
        margin: 0.5em 0 0.5em 1em;
        float: right;
        clear: right;
    }
    #shortTitle{
        display: none;
    }
    #title{
        display: inherit;
    }
    h1{
        text-align: left;
    }
    h1 span{
        padding-left: 0;
    }
    h2{
        text-align: left;
    }
    ::-webkit-scrollbar {
        width: 1em;
    }
    .midHideTableCell{
        display: table-cell;
    }
}
